*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


ul,li,ol{
    list-style: none;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 900;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
  }


.container{
    width: 1400px;
    margin: 0 auto;
}

.wrapper_section1{
    height: 1111px;
}

.intro_link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.picture{
    background: url("../img/index/Main.png") no-repeat center center / cover;
    height: 1111px;  
}


.textr{
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 254, 254);
    font-size: 24px;
    line-height: 29.26px;

}
.header{
    padding: 27px 0 17px 0;
}
.menu_nav{
    display: flex;
}
.contacts{
    display: flex;
}

.contacts_pic{
    margin: 0px 20px;
}
.phone_number{
    margin-left: 60px;
}
.textb{
    font-family: 'Montserrat';
    font-size: 'normal';
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}

.theader{
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
}

.tx1{
    font-size: 40px;
    line-height: 49px;
    width: 1368px;
    height: 98px;
}

.text_group{
    align-items: center;
    justify-content: center;
}


/* Intro */

.text_intro{
    padding: 19px 0 0 0;
}

.textb{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    text-align: center;
}

.textb span{
    color: #402D50;
}

.menu_link{
    padding-left: 11px;
}

.pic_main_intro1{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 30px;
    
}
.pic_main_intro1::before{
    content:"" ;
    background-image: url(../svg/Intro_Book.svg);
    width: 71px;
    height: 71px;
    display: block;
    margin-right: 55px;
}

.pic_main_intro2{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 30px;
}
.pic_main_intro2::before{
    content:"" ;
    background-image: url(../svg/Intro_Computer.svg);
    width: 71px;
    height: 71px;
    display: block;
    margin-right: 55px;
}

.pic_main_intro3{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 30px;
}
.pic_main_intro3::before{
    content:"" ;
    background-image: url(../svg/Intro_Group.svg);
    width: 71px;
    height: 71px;
    display: block;
    margin-right: 55px;
}

.pic_main_intro4{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 30px;
    
}
.pic_main_intro4::before{
    content:"" ;
    background-image: url(../svg/Intro_Group2.svg);
    width: 71px;
    height: 71px;
    display: block;
    margin-right: 55px;
}

.textm1{
 
    height: 58px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 59px;
}

.textm2{
 
    height: 58px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 59px;
}

.textm3{
  
    height: 58px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 59px;
    
}

.textm4{
    
    height: 58px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 59px;
}


.text_foot{
    
}

.text_foot2{
    padding-top: 73px;
    margin-left: 31px;
}

.textm{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;

}

.buttonbox{
    width: 299px;
    height: 91px;
    background: #A56492;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 95px;
    margin-top: 70px;
    text-decoration: none;
    
    
}

.butt{
   margin-left: -155px;
   margin-top: -8px;
   transform: 0.3;
   
}

.butto{
    margin-left: 63px;
    margin-top: -45px;
}

.buttonbox  :hover{
    background-color: blue;
}


.wrapper_section1{
    height: 779px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 63px;
}

.section1_img{
    
}

.textsc1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    width: 409px;
    height: 48px;
}

.textsc1-1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    width: 602px;
    margin-top: 15px;
}

.crysis{
    background: #A56492;
    border-radius: 20px;
    width: 480px;
    height: 91px;
}

.crysis_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.button_scr1{
    padding-top: 95px;
}

.section_text_group{
    padding-top: 64px;
}

.wrapper_section3{
    height: 872px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.sc3{
    width: 623px;
    height: 48px;
}

.sc3-1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #402D50;
    padding-top: 14px;
}

.section3_group{
    display: block;
}
.s3-2{
    margin-top: 0;
}
.sc3-3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #402D50;
    padding-top: 14px;
    padding-top: 0;
}

.databox{
    padding-top: 59px;

}


.left_databox{
    display: flex;
   
}

.right_databox{
    display: flex;
    margin-top: 64px;
    
}
.name_input{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    background-color: #A9A6A8;
    border-radius: 20px;
    width: 278px;
    height: 60px;
    text-align: center;
    border-style: none;
    
}

.name_input1-1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    background-color: #A9A6A8;
    border-radius: 20px;
    width: 278px;
    height: 60px;
    text-align: center;
    margin-left: 58px;
    border-style: none;
}
.name_input::placeholder{
    color: #FFFFFF;

}
.name_input:focus{
    outline: 0;
}

.name_input1-1::placeholder{
    color: #FFFFFF;
}

.name_input1-1:focus{
    outline: 0;
}

.name_input2::placeholder{
    color: #FFFFFF;
}

.name_input2:focus{
    outline: 0;
}


.name_input2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    background-color: #A9A6A8;
    border-radius: 20px;
    width: 278px;
    height: 91px;
    text-align: center;
    border-style: none;
}

.s3-4{
    width: 278px;
    height: 91px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;  
    margin-left: 58px;
}

.phone{
    width: 51px;
    height: 51px;
    margin-bottom: 30px;

}
.group_phone{
    display: flex;
    margin-top: 30px;  
}

.s3-5{
    margin-top: 9px;
    margin-left: 5px;
}

.wrapper_section4{
    height: 1674px;
    margin: 0 auto;
}
.videobox{
    display: flex;
    justify-content: center;
    padding-top: 124px;
}

.video{
    width: 1023px;
    height: 552px;
    background: #C4C4C4;
}

.text_video{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 144px;
    line-height: 176px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 186px;
}

.map_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    padding-top: 122px;
}

.map_text span{
    color: #402D50;
}

.map_pic{
    background-image: url(../img/index/map.png);
    width: 1607px;
    height: 604px;
}
.textsc4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    padding-top: 50px;
    margin-right: 204px;
    margin-top: 10px;


}

.s4{
    width: 299px;
    height: 60px;
}
.s4-1{
    width: 299px;
    height: 60px;
    margin-left: 58px;
}

.wrapper_section5{
    height: 949px;
    
}

.textsc5{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    padding-top: 100px;
}

.textsc5-1{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    padding-top: 28px;
}

.top_icon{
    display: flex;
    justify-content: center;
    padding-left: 76px;
}

.bottom_icon{
    display: flex;
    justify-content: center;
    padding-left: 40px  ;
}

.icon{
    padding-top: 47px;
    padding-right: 95px;
}

.icon1{
    margin-left: 78px;
    
}   
.icon2{
    margin-top: 156px;
    margin-left: 78px;
}

.icon_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.icon_text1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-left: -35px;
}

.icon_text1-1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-left: -5px;
}

.icon_text2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-left: -18px;
}

.icon_text3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-left: 9px;
}

.wrapper_section6{
    height: 862px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    filter: drop-shadow(0px 4px 21px rgba(0, 0, 0, 0.25));
}

.sc6{
    display: flex;
    justify-content: left;
    text-align: left;
}
.icon_like{
    padding-top: 263px;
}

.textsc6{
    padding-top: 100px; 
}

.sc6-1{
    display: flex;
    justify-content: left;
    text-align: left;
}

.sc6-1::before{
    content: "";
    background-image: url(../svg/likesymbol.svg);
    width: 98px;
    height: 98px;
    display: block;
    margin-top: -23px;
    margin-right: 14px;
}

.picsc6{
    padding-top: 24px;
}

.section6{
    background: white;
    filter: drop-shadow(0px 4px 21px rgba(0, 0, 0, 0.25));
    border-bottom: 0px solid;
}   

.wrapper_section7{
    height: 862px;
    padding-top: 109px;
}

.textbsc7{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}

.cont_textsc7{
    width: 373px;
    height: 51px;
    background: #A56492;
}

.textbsc7-1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #ffffff;
}

.text_introsc7{
    display: flex;
    justify-content: center;
}

.text_introsc7-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textmsc7{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.text_introsc7-3{
    padding-top: 11px;
}

.textbsc7 span{
    color: #402D50;
}

.sc7-1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.cont_textsc7{
    width: 289px;
    height: 48px;
}

.sc7-2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #ffffff;
}

.linesc7{
    border-bottom: dashed 5px  #402D50;
}

.picsc7{
    padding-top: 28px;
}

.wrapper_section8{
    height: 568px;
    padding-top: 100px;
}

.group_section8-2{
    display: flex;
    justify-content: center;
}

.text_section8{
    text-align: center;
}

.textbsc8{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    text-align: center;
}

.textbsc8-1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    text-align: center;
    width: 348px;
    height: 51px;
}

.textbsc8-2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    background-color:#A56492;
    text-align: center;
    width: 373px;
    height: 51px;
}

.textbs8-3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    color: #000000;
}

.vilka_group_sc8{
    display: flex;
}

.texboxs8{
    width: 129px;
    height: 63px;
    background-color: #A56492;
    margin-left: 31px;
}

.textboxs8-1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5px;
}

.vilka_check{
    border-bottom: solid #A56492 5px;
}

.text_vilka{
    padding-top: 90px;
    display: flex;
}

.text_vilka_1{
    padding-top: 18px;
}

.sc8-4{
    width: 124px;
    height: 71px;
    margin-left: 132px;
}
