*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


ul,li,ol{
    list-style: none;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 900;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
  }


.container{
    width: 1400px;
    margin: 0 auto;
}

.wrapper_section1{
    height: 1111px;
}

.intro_link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.picture{
    background: url("../img/index/Main.png") no-repeat center center / cover;
    height: 1111px;  
}


.textr{
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 254, 254);
    font-size: 24px;
    line-height: 29.26px;

}
.header{
    padding: 27px 0 17px 0;
}
.menu_nav{
    display: flex;
}
.contacts{
    display: flex;
}

.contacts_pic{
    margin: 0px 20px;
}
.phone_number{
    margin-left: 60px;
}
.textb{
    font-family: 'Montserrat';
    font-size: 'normal';
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}

.theader{
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
}

.tx1{
    font-size: 40px;
    line-height: 49px;
    width: 1368px;
    height: 98px;
}

.text_group{
    align-items: center;
    justify-content: center;
}


/* Intro */

.text_intro{
    padding: 19px 0 0 0;
}

.textb{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    text-align: center;
}

.textb span{
    color: #402D50;
}

.menu_link{
    padding-left: 11px;
}

.pic_main_intro1{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 30px;
    
}
.pic_main_intro1::before{
    content:"" ;
    background-image: url(../svg/Intro_Book.svg);
    width: 71px;
    height: 71px;
    display: block;
    margin-right: 55px;
}

.pic_main_intro2{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 30px;
}
.pic_main_intro2::before{
    content:"" ;
    background-image: url(../svg/Intro_Computer.svg);
    width: 71px;
    height: 71px;
    display: block;
    margin-right: 55px;
}

.pic_main_intro3{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 30px;
}
.pic_main_intro3::before{
    content:"" ;
    background-image: url(../svg/Intro_Group.svg);
    width: 71px;
    height: 71px;
    display: block;
    margin-right: 55px;
}

.pic_main_intro4{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 30px;
    
}
.pic_main_intro4::before{
    content:"" ;
    background-image: url(../svg/Intro_Group2.svg);
    width: 71px;
    height: 71px;
    display: block;
    margin-right: 55px;
}

.textm1{
 
    height: 58px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 59px;
}

.textm2{
 
    height: 58px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 59px;
}

.textm3{
  
    height: 58px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 59px;
    
}

.textm4{
    
    height: 58px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 59px;
}


.text_foot{
    
}

.text_foot2{
    padding-top: 73px;
    margin-left: 31px;
}

.textm{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;

}

.buttonbox{
    width: 299px;
    height: 91px;
    background: #A56492;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 95px;
    margin-top: 70px;
    text-decoration: none;
    
    
}

.butt{
   margin-left: -155px;
   margin-top: -8px;
   transform: 0.3;
   
}

.butto{
    margin-left: 63px;
    margin-top: -45px;
}

.buttonbox  :hover{
    background-color: blue;
}

.wrraper_section1{
    height: 779px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 63px;
}

.section1_img{
    
}

.textsc1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    width: 409px;
    height: 48px;
}

.textsc1-1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    width: 602px;
    margin-top: 15px;
}

.crysis{
    background: #A56492;
    border-radius: 20px;
    width: 480px;
    height: 91px;
}

.crysis_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.button_scr1{
    padding-top: 95px;
}

.section_text_group{
    padding-top: 64px;
}

.wrapper_section3{
    height: 872px;
}

