*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


ul,li,ol{
    list-style: none;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 900;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
  }


.container{
    width: 1400px;
    margin: 0 auto;
}

.wrapper_section1{
    height: 1111px;
}

.intro_link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.picture{
    background: url("../img/index/Main.png") no-repeat center center / cover;
    height: 1111px;  
}


.textr{
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 254, 254);
    font-size: 24px;
    line-height: 29.26px;

}
.header{
    padding: 27px 0 17px 0;
}
.menu_nav{
    display: flex;
}
.contacts{
    display: flex;
}

.contacts_pic{
    margin: 0px 20px;
}
.phone_number{
    margin-left: 60px;
}
.textb{
    font-family: 'Montserrat';
    font-size: 'normal';
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}

.theader{
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
}

.tx1{
    font-size: 40px;
    line-height: 49px;
    width: 1368px;
    height: 98px;
}

.text_group{
    align-items: center;
    justify-content: center;
}


/* Intro */

.text_intro{
    padding: 19px 0 0 0;
}

.textb{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    text-align: center;
}

.textb span{
    color: #402D50;
}

.menu_link{
    padding-left: 11px;
}

.pic_main_intro1{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 30px;
    
}
.pic_main_intro1::before{
    content:"" ;
    background-image: url(../svg/Intro_Book.svg);
    width: 71px;
    height: 71px;
    display: block;
    margin-right: 55px;
}

.pic_main_intro2{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 30px;
}
.pic_main_intro2::before{
    content:"" ;
    background-image: url(../svg/Intro_Computer.svg);
    width: 71px;
    height: 71px;
    display: block;
    margin-right: 55px;
}

.pic_main_intro3{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 30px;
}
.pic_main_intro3::before{
    content:"" ;
    background-image: url(../svg/Intro_Group.svg);
    width: 71px;
    height: 71px;
    display: block;
    margin-right: 55px;
}

.pic_main_intro4{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 30px;
    
}
.pic_main_intro4::before{
    content:"" ;
    background-image: url(../svg/Intro_Group2.svg);
    width: 71px;
    height: 71px;
    display: block;
    margin-right: 55px;
}

.textm1{
 
    height: 58px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 59px;
}

.textm2{
 
    height: 58px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 59px;
}

.textm3{
  
    height: 58px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 59px;
    
}

.textm4{
    
    height: 58px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 59px;
}


.text_foot{
    
}

.text_foot2{
    padding-top: 73px;
    margin-left: 31px;
}

.textm{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;

}

.buttonbox{
    width: 299px;
    height: 91px;
    background: #A56492;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 95px;
    margin-top: 70px;
    text-decoration: none;
    
    
}

.butt{
   margin-left: -155px;
   margin-top: -8px;
   transform: 0.3;
   
}

.butto{
    margin-left: 63px;
    margin-top: -45px;
}

.buttonbox  :hover{
    background-color: blue;
}


.wrapper_section1{
    height: 779px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 63px;
}

.section1_img{
    
}

.textsc1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    width: 409px;
    height: 48px;
}

.textsc1-1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    width: 602px;
    margin-top: 15px;
}

.crysis{
    background: #A56492;
    border-radius: 20px;
    width: 480px;
    height: 91px;
}

.crysis_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.button_scr1{
    padding-top: 95px;
}

.section_text_group{
    padding-top: 64px;
}

.wrapper_section3{
    height: 872px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.sc3{
    width: 623px;
    height: 48px;
}

.sc3-1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #402D50;
    padding-top: 14px;
}

.section3_group{
    display: block;
}
.s3-2{
    margin-top: 0;
}
.sc3-3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #402D50;
    padding-top: 14px;
    padding-top: 0;
}

.databox{
    padding-top: 59px;

}


.left_databox{
    display: flex;
   
}

.right_databox{
    display: flex;
    margin-top: 64px;
    
}
.name_input{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    background-color: #A9A6A8;
    border-radius: 20px;
    width: 278px;
    height: 60px;
    text-align: center;
    border-style: none;
    
}

.name_input1-1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    background-color: #A9A6A8;
    border-radius: 20px;
    width: 278px;
    height: 60px;
    text-align: center;
    margin-left: 58px;
    border-style: none;
}
.name_input::placeholder{
    color: #FFFFFF;

}
.name_input:focus{
    outline: 0;
}

.name_input1-1::placeholder{
    color: #FFFFFF;
}

.name_input1-1:focus{
    outline: 0;
}

.name_input2::placeholder{
    color: #FFFFFF;
}

.name_input2:focus{
    outline: 0;
}


.name_input2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    background-color: #A9A6A8;
    border-radius: 20px;
    width: 278px;
    height: 91px;
    text-align: center;
    border-style: none;
}

.s3-4{
    width: 278px;
    height: 91px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;  
    margin-left: 58px;
}

.phone{
    width: 51px;
    height: 51px;
    margin-bottom: 30px;

}
.group_phone{
    display: flex;
    margin-top: 30px;  
}

.s3-5{
    margin-top: 9px;
    margin-left: 5px;
}

.wrapper_section4{
    height: 1674px;
    margin: 0 auto;
}
.videobox{
    display: flex;
    justify-content: center;
    padding-top: 124px;
}

.video{
    width: 1023px;
    height: 552px;
    background: #C4C4C4;
}

.text_video{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 144px;
    line-height: 176px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 186px;
}

.map_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    padding-top: 122px;
}

.map_text span{
    color: #402D50;
}

.map_pic{
    background-image: url(../img/index/map.png);
    width: 1607px;
    height: 604px;
}
.textsc4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    padding-top: 50px;
    margin-right: 204px;
    margin-top: 10px;


}

.s4{
    width: 299px;
    height: 60px;
}
.s4-1{
    width: 299px;
    height: 60px;
    margin-left: 58px;
}

.wrapper_section5{
    height: 949px;
    
}

.textsc5{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    padding-top: 100px;
}

.textsc5-1{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    padding-top: 28px;
}

.top_icon{
    display: flex;
    justify-content: center;
    padding-left: 76px;
}

.bottom_icon{
    display: flex;
    justify-content: center;
    padding-left: 40px  ;
}

.icon{
    padding-top: 47px;
    padding-right: 95px;
}

.icon1{
    margin-left: 78px;
    
}   
.icon2{
    margin-top: 156px;
    margin-left: 78px;
}

.icon_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.icon_text1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-left: -35px;
}

.icon_text1-1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-left: -5px;
}

.icon_text2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-left: -18px;
}

.icon_text3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-left: 9px;
}

.wrapper_section6{
    height: 862px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    filter: drop-shadow(0px 4px 21px rgba(0, 0, 0, 0.25));
}

.sc6{
    display: flex;
    justify-content: left;
    text-align: left;
}
.icon_like{
    padding-top: 263px;
}

.textsc6{
    padding-top: 100px; 
}

.sc6-1{
    display: flex;
    justify-content: left;
    text-align: left;
}

.sc6-1::before{
    content: "";
    background-image: url(../svg/likesymbol.svg);
    width: 98px;
    height: 98px;
    display: block;
    margin-top: -23px;
    margin-right: 14px;
}

.picsc6{
    padding-top: 24px;
}

.section6{
    background: white;
    filter: drop-shadow(0px 4px 21px rgba(0, 0, 0, 0.25));
    border-bottom: 0px solid;
}   

.wrapper_section7{
    height: 862px;
    padding-top: 109px;
}

.textbsc7{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}

.cont_textsc7{
    width: 380px;
    height: 57px;
    background: #A56492;
}

.textbsc7-1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #ffffff;
   
}

.text_introsc7{
    display: flex;
    justify-content: center;
}

.text_introsc7-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textmsc7{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.text_introsc7-3{
    padding-top: 11px;
}

.textbsc7 span{
    color: #402D50;
}

.sc7-1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.sc7-2-2{
    width: 289px;
    height: 48px;
}

.sc7-2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #ffffff;
}

.linesc7{
    border-bottom: dashed 5px  #402D50;
}

.picsc7{
    padding-top: 28px;
}

.wrapper_section8{
    height: 568px;
    padding-top: 100px;
}

.group_section8-2{
    display: flex;
    justify-content: center;
}

.text_section8{
    text-align: center;
}

.textbsc8{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    text-align: center;
}

.textbsc8-1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    text-align: center;
    width: 348px;
    height: 51px;
}

.textbsc8-2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    background-color:#A56492;
    text-align: center;
    width: 373px;
    height: 51px;
}

.textbs8-3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    color: #000000;
}

.vilka_group_sc8{
    display: flex;
}

.texboxs8{
    width: 129px;
    height: 63px;
    background-color: #A56492;
    margin-left: 31px;
}

.textboxs8-1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5px;
}

.vilka_check{
    border-bottom: solid #A56492 5px;
}

.text_vilka{
    padding-top: 90px;
    display: flex;
}

.text_vilka_1{
    padding-top: 18px;
}

.sc8-4{
    width: 124px;
    height: 71px;
    margin-left: 132px;
}

.line_vilka{
    width: 80px;
    height: 7px;
    background-color:#A56492;
    margin-top: 22px;
}

.textbs8-4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: #000000;
}

.vilka_intro{
    display: flex;
    justify-content: center;
}

.equals{
    padding-top: 132px;
    padding-left: 21px;
}

.result_text{
    padding-top: 139px;
    padding-left: 21px;
}

.wrapper_section9{
    height: 778px;
    margin: 0 auto;
    
}

.sc9{
    width: 704px;
    height: 50px;
}

.sc9_1{
    width: 266px;
    height: 51px;
}


.intro_section9{
    padding-top: 70px;
    display: flex;
}

.group_text_section9_1{
    display: flex;
}  

.group_text_section9_2{
    padding-top: 73px;
    display: flex;
}

.group_text_section9_3{
    padding-top: 42px;
    display: flex;
}


.text_boxsc9_1{
    width: 520px;
    height: 86px;
    margin-left: 50px;
} 

.text_boxsc9_2{
    width: 520px;
    height: 87px;
    margin-left: 50px;
}

.text_boxsc9_3{
    width: 517px;
    height: 116px;
    margin-left: 50px;
}


.textsc9{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.textsc9_1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #402D50;
}

.textsc9_2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}



.textsc9 span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.group_text_section9_1::before{
    content: "";
    background-image: url(../img/index/manager.png);
    width: 71px;
    height: 71px;
    display: block;
}

.group_text_section9_2::before{
    content: "";
    background-image: url(../img/index/costumer.png);
    width: 71px;
    height: 71px;
    display: block;
}

.group_text_section9_3::before{
    content: "";
    background-image: url(../img/index/money.png);
    width: 71px;
    height: 71px;
    display: block;
}

.pic_introsc9{
    padding-top: 27px;
}
.wrapper_section10{
    height: 465px;
    padding: 24px;
}

.sc10{
    text-align: left;
    width: 362px;
}
.text_section10{
    padding-top: 100px;
}

.text_section10_2{
    padding-top: 50px;
}

.black_span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.violetbox{
    background-color: #A56492;
    color: #FFFFFF;
}

.section10_intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sc6-2{
    display: flex;
    justify-content: left;
    text-align: center;
}

.sc6-2::before{
    content: "";
    background-image: url(../svg/likesymbol.svg);
    width: 98px;
    height: 98px;
    display: block;
    margin-top: -23px;
    margin-right: 14px;
}

.textsc10{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    width: 400px;height: 116px;
    display: flex;
    
}

.textsc10::before{
    content: "";
    background-image: url(../svg/likesymbol.svg ) ;
    background-repeat: no-repeat;

    width: 98px;
    height: 98px;
    display: block;
    margin-left: 10px;
    padding-left: 56px;  
}

.icon_like_2{
    padding-top: 10px;
}

.brace{
    padding-top: 81px;
}

.wrapper_section11{
    height: 640px;
   
}

.textbsc11{
        width: 1062px;
        height: 50px;
      
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;

        color: #000000;

}

.text_section11{
    display: flex;
    justify-content: center;
    margin-top: 170px;
}

.sc11{
    width: 651px;
    height: 145px;
}

.textsc9_2{
    margin-top: 36px;
    

}

.arrow_ball{
    position: absolute;
    width: 335.27px;
    height: 146px;
    left: 498.59px;
    top: 9269px;
}

.pic_introsection11{
    

}

.intro_section11{
    display: flex;
    justify-content: space-between;
    
}

.pic_circle{
    background-image: url(../img/index/Ellipse\ 13.png ) ;
    background-repeat: no-repeat;
   
    position: absolute;
    width: 522.27px;
    height: 438px;
    left: 1091.59px;
    top: 9165px;
}

.tx300_000{
    background-image: url(../img/index/300\ 000.png ) ;
    background-repeat: no-repeat;
    position: absolute;
    width: 600px;
    height: 438px;
    left: 845.5899999999999px;
    top: 9244px;
}

.txtop{
    background-image: url(../img/index/clearmoney.png ) ;
    background-repeat: no-repeat;
    position: absolute;
    width: 522.27px;
    height: 438px;
    left: 1047.59px;
    top: 9210px;
}


.txbutton{
    background-image: url(../img/index/rub.png) ;
    background-repeat: no-repeat;
    position: absolute;
    width: 522.27px;
    height: 438px;
    left: 1225.59px;
    top: 9336px;
}

.wrapper_section12{
    height: 461px;
    padding-top: 39px;
    display: flex;
    justify-content: space-around;
}

.pic_section12{
    width: 286px;
    height: 276px;
}

.textm_12{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.text_section12_1{
    height: 29px;
    width: 922px;
}

.textb_12{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;

}

.text_section12_2{
    width: 1114px;
    height: 137px;
    margin-top: 23px;
}

.wrapper_section13{
    height: 1269px;
    padding-top: 80px;
}


.textb_sc13{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
}

.violet{
    color: #402D50
}


.texts_sc13{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #000000;
}

.text_section13_2{
    padding-top: 28px;
}

.item_block
{
    transition: 0.3s;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    width: 260px;
    height: 260px;
    background-color: #A56492;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;
color: #fff;
text-align: center;
margin-left: 109px;

}

.block_picture
{
   padding-top: 44px;
}
.block_section13{
 
    margin-left: 10px;
}

.text_block
{
    width: 260px;
    margin: 20px 0px 20px 0px;
}

.block_section13_1{
    display: flex;
}


.block_picture{
    margin-left: 10px;
}
.intro_section13{
    display: block;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    
}

.wrapper_section14{
    height: 1216px;
    padding-top: 212px;
}

.edit_text_center{
    text-align: center;
}

.vertical_wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button_sc15
{
    justify-content: center;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
text-align: center;
color: #FFFFFF;
    width: 455px;
    height: 80px;
    background: #A56492;
    border-radius: 20px;
    border-style: none;
    text-align: center;
    margin-left: 470px;
    margin-top: 70px;
}

.texb_section15{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
/* identical to box height */
text-align: center;
color: #000000;
}

.text_section15_1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-top: 28px;
    }

.wrapper_section16{
    height: 699px;
    padding-top: 248px;
}

.block_section16{
    display: flex;
    width: 1200px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 64px;
    
}
.blocksec16{

width: 325px;
height: 185px;
margin-bottom: 30px;
background: #C4C4C4;
}

.wrapper_section17{
    height: 494px;
    padding-top: 220px;
}

.number_pic
{
    background-image: url(../img/index/number1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    color: #000000;
    height: 360px;
    align-items: center;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.wrapper_container18{
    height: 432px;
    padding: 132px;
}

.w900label
{
    width: 900px;
}
.vert_text_box
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row_buttontext_17section
{
    justify-content: center;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
text-align: center;
color: #FFFFFF;
    width: 460px;
    height: 60px;
    background: #A56492;
    border-radius: 20px;
    border-style: none;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
    transition: 0.3s;
}
.row_button_17section
{
    padding-top: 75px;
    display: flex;
    justify-content:space-between;
    width: 1200px;
}

.wrapper_container18{
    padding-top: 820px;
    height: 432px;
}

.sc16{
   margin-left: -109px;
}

.sc16_1{
    margin-left: 48px;
}

.scob{
    margin-left: -141px;
    padding-top: 70px;
}

.text_section18{
    padding-top: 67px;
}

.sc18_2{
    margin-left: -110px;
}

.wrapper_section19{
    height: 813px;
    padding-top: 800px;

}

.alist1
{
    text-decoration: none;
    color: #000000;
    padding-left: 15px;
}
.list_small_cont
{
    display: flex;
    flex-direction: column;
    
}
.alist
{
    text-decoration: none;
    color: #000000;
    padding-left: 15px;
    display: flex;
}
.list19_slim
{
    margin-top: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    padding-left: 41px;
    margin-top: 10px;
}

.list19
{
    color: white;
    transition: 0.4s;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-bottom: 15px;
}

.list_section_19{
    padding-top: 63px;
    padding-left: 195px;
}

.sc20{
    padding-top: 747px;
    padding-left: 197px;
}

.wrapper_section21{
    height: 651px;
    padding-top: 150px;
}

.sc21{
    width: 403px;
    height: 88px;
}

.sc21_2{
    width: 684px;
    text-align: left;
 
}

.button_sc21{
    padding-top: 62px;
}
.sc21_3{
    width: 278px;
    height: 91px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;  
  
}

.sc21_4{
    width: 779px;
    height: 612px;
}

.footer
{
    background-color: #402D50;
    margin-top: 857px;
}
.wrapper_footer
{
    padding: 50px 0px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}

    
.foot_link
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;
}
.uppfootpad
{
    padding-top: 40px;
}
.footer_intro
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: #fff 7px solid
}

.footer_textcont
{
    max-width: 350px; 
       font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;

}

.nav_header{
    text-decoration: none;
}